{% extends "xbase.html" %}

{% block content %}

<div class='d1'>
    DEAN OF STUDENTS OFFICE
UNIVERSITY OF ZIMBABWE
MT PLEASANT, HARARE


</div>

<div class='d1'>
    DEAN OF STUDENTS OFFICE
UNIVERSITY OF ZIMBABWE
MT PLEASANT, HARARE

Dear Sir/Madam

The statement that goes “he doesn’t have sufficient money to rent” is embracing a lot factors. Firstly l will start by saying in 2021 January l was involved in a home accident and got hurt my right abdomen side and in 2021 February a doctor diagnosed me and said it’s costrochondritis (an inflammation of a cartilage between my other two ribs). So he said l should not over work or walk long distances.

The connection of my story above with my application is: staying in residences far from campus is prohibited due to my health problem and staying in residence near campus is the recommended way but l cannot manage the costs for example, the last 2 semesters l was renting at a $150 rent per month and my food costs $50 per month. The total amount of these two figures in 4 months gives $800 and sometimes the amount will be above $800 per semester. The price for UZ accommodation if far much better with good conditions too than off campus.

My doctor’s details for reference:

Name : Dr Mzenda
Cell :  +263 77 276 9549

</div>

<style>

    @media (min-width: 1300px) and (max-width: 3000px) {
      
        .d1 {
            background-color: black;
            color: white;
            height: auto;
            width: fit-content;
            padding: 30px;
            margin-bottom: 50px;
            display: inline-block;
        }
    }

</style>



{% endblock %}

