{% extends "xbase.html" %}

{% block content %}


{% for msg in  msgs %}

    {% if user.username == msg.reg %}
    
    <div class='title-panel2'> 

        {% for reply in replys %} {% if msg.pkv == reply.pkv %} {% if reply.reply %}
        <div class='reply-btn'> <i> Replied </i> </div>
            {% else %}
            <div class='no-reply-btn'> <i> Not Replied </i> </div>
            {% endif %}  {% endif %} {% endfor %}
            
        <div class='time'> Message sent on {{msg.timestamp}} </div>
        <div class='outbox-msg'> <i> {{ msg.msg }} </i> </div>
        <div class='status'>  (Status : {{msg.identity}}) {% for msg2 in msgs2 %} {% if msg2.pkv == msg.pkv %}  {% endif %} {% endfor %}  </div>

        <div>
            <div class='icons-only'>
            <div class='icons-div'>
                {% if msg.msg %} {% for icon in icons %} <img src={{ icon.edit.url }} class='icons'> {% endfor %} {% endif %}
                    {% if msg.audio %} {% for icon in icons %} <img src={{ icon.audio.url }} class='icons'> {% endfor %} {% endif %}
                    {% if msg.image %} {% for icon in icons %} <img src={{ icon.image.url }} class='icons'> {% endfor %} {% endif %}
                    {% if msg.video %} {% for icon in icons %} <img src={{ icon.video.url }} class='icons'> {% endfor %} {% endif %}
            </div>
            <div class='no-comment-like'>
                <div class='inner-no-comment-like'>
                    {% for icon in icons %} <img src={{ icon.comment.url }} class='icons'> {% endfor %} 
                <div> {{ msg.no_comments }} </div>
                
                </div>
                <div class='inner-no-comment-like'>
                    {% for icon in icons %} <img src={{ icon.like.url }} class='icons'> {% endfor %} 
                <div> {{ msg.no_likes }} </div>
                </div>
            </div>
        </div>
        </div>

    <div class='image-audio-video'>
            

        {% if msg.audio %}
        <div class='title-panel5'>
            <audio controls class="sent-audio" onload="Javascript:AutoRefresh(1000);">
                <source src={{ msg.audio.url }} type="audio/mp3" />
            </audio>
            <div class='icon-time'>
            {% for icon in icons %} <img src={{ icon.audio.url }} class='audio-icon'> {% endfor %}
            audio
            <i> {{ msg.time }} </i>
            </div>
        </div>
       {% endif %}

       {% if msg.image %} 
        <div class='title-panel4'> <img src={{msg.image.url}} class='sent-image'> 
            <div class='icon-time'>
            {% for icon in icons %} <img src={{ icon.image.url }} class='image-icon'> {% endfor %}
            photo
             <i> {{ msg.time }} </i> 
            </div>
        </div>{% endif %}

        {% if msg.video %}
        <div class='title-panel6'>
            <video class="sent-video" controls="controls" onload="Javascript:AutoRefresh(1000);">
                <source src= {{ msg.video.url }} type="video/mp4" />
            </video>
            <div class='icon-time'>
                {% for icon in icons %} <img src={{ icon.video.url }} class='video-icon'> {% endfor %}
                video 
            <i> {{ msg.time }} </i>
            </div>
        </div>
       {% endif %}
    </div>



    <form method='post'>
        {% csrf_token %}
    
        <textarea type='text' class='msg-area' name='edit'> </textarea>
        <button class='send-btn' type='submit'> Send </button>
    </form>

        <div class='space'>
            <h3>Reply From Adminstration</h3>
            {% for reply in replys %} {% if msg.pkv == reply.pkv %} {% if reply.reply %}
            <p><i>{{reply.reply}}</i></p>
            {% else %}
            {% endif %}  {% endif %} {% endfor %}
            
        </div>
         <div class='edit-btn-div'> {% for icon in icons %} <a href="{% url 'edit' msg.pk %}">  <img src={{ icon.edit.url }} class='edit-btn'> </a> {% endfor %} <h5> edit message </h5>  </div> 
         <div class='delete-btn-div'> {% for icon in icons %} <a href="{% url 'delete_outbox' msg.pk %}">  <img src={{ icon.delete.url }} class='delete-btn'> </a> {% endfor %} <h5> delete message </h5>  </div>
    </div>
    
    {% endif %}
{% endfor %}

<script>
    const icons_div = document.querySelector('.icons-div');
    const image_audio_video = document.querySelector('.image-audio-video');

    icons_div.addEventListener('click', () => {
        image_audio_video.classList.toggle('active');
    });
</script>

<style>

    @media (min-width: 1300px) and (max-width: 3000px) {

        .icons-only {
            display: flex;
            gap: 140px;
        }

        .no-comment-like {
            margin: auto 1px;
            display: flex;
            width: 149px;
            gap: 10px;
        }



        .inner-no-comment-like {
            display: flex;
            margin-right: 10px;
            
        }

        .inner-no-comment-like div {
            font-size: 15px;
            margin: auto;
            margin-right: 10px;
        }


        .image-icon, .audio-icon, .video-icon {
            border-radius: 0;
            width: 20px; height: 20px;
            margin: auto 10px;
        }
        
        .icon-time {
            font-size: 15px;
            color: black;
            display: flex;
            width: content-fit;

        }

        .title-panel4, .title-panel6 {
            margin: 20px 10px; 
            font-size: 15px;
            width: 502px;
            color: black;
            height: auto;
            border-radius: 12px;
            text-align: left;
            border: solid white thick;
            border-bottom: solid white 10px;
            background-color: white;
        }

        .title-panel5 {
            margin: 10px 10px; 
            font-size: 15px;
            width: 502px;
            color: black;
            height: auto;
            border-radius: 12px;
            text-align: left;
            border: solid white thick;
            border-bottom: solid white 10px;
            background-color: white;
        }

        .icon-time i {
            color: black;
            margin: auto 10px;

        }

        .sent-image {
            margin-left: 1px;
            width: 500px;
            height: 400px;
            object-fit: cover;
            margin-top: 1px;
            border-radius: 5px;
            
        }

        .sent-audio {
            width: 500px;
            height: 100px;
            margin-top: -40px;
            border-radius: 5px;
            margin-bottom: 5px;
        }

        .sent-video {
            width: 500px;
            height: 400px;
            border-radius: 5px;
            margin-bottom: 5px;
        }

        .image-audio-video {
            display: none;
        }

        .image-audio-video.active {
            display: block;
        }

        .icons-div {
            background-color: white;
            padding: 8px;
            width: 150px;
            padding-bottom: 2px;
            border-radius: 12px;
            margin: auto 10px;
            cursor: pointer;
        }

        .icons {
            border-radius: 0;
            width: 20px; height: 20px;
            margin: auto 13px; 
         }

        .home-set {
            position: relative;
            left: 0%;
            margin: 5px 0;
            width: 98%;
            height: 400px;
            border-radius: 12px;
            border: transparent;
        }

        .title-panel {
            margin: 20px 10px; 
            font-size: 30px;
            height: auto;
            border-radius: 12px;
            text-align: left;
        }

        .title-panel2 {
            margin: 30px 200px; 
            font-size: 20px;
            text-align: centre;
            height: auto;
            padding: 1px;
            border-radius: 12px;
            text-align: left;
            background-color: grey;
        }

        .title-panel2:hover {
            box-shadow: 5px 5px orange;
        }

        .time, .outbox-msg, .status {
            margin: 20px 20px;
        }

        .like-btn-panel {
            border-radius: 50%;
            width: 55px;
            height: 55px;
        }

        .like-btn {
            margin: -20px 15px;
            width: 50px;
            height: 50px; 
        }

        .reply-btn {
            margin: 10px 10px;
            background-color: green;
            padding: 15px;
            height: 20px;
            width: 100px;
            font-size: 15px;
            text-align: center;
            border-radius: 12px;
        }
        
        .no-reply-btn {
            margin: 10px 10px;
            background-color: orange;
            padding: 15px;
            height: 20px;
            width: 100px;
            font-size: 15px;
            text-align: center;
            border-radius: 12px;
        }

        .delete-btn-div {
            margin: auto 700px;
            padding: 5px;
            width: 200px;
            height: 50px;
            display: flex;
            border-radius: 12px;
            cursor: pointer;
            margin-bottom: 5px;
            &:hover{
                border: white thin solid;
            }
        }

        .delete-btn-div h5 {
            margin: auto;
            color: black;
        }

        .delete-btn {
            padding: 15px;
            height: 25px;
            width: 25px;
            margin: auto;
            border-radius: 12px;
        }

        .edit-btn-div {
            margin: auto 700px;
            padding: 5px;
            width: 200px;
            height: 50px;
            display: flex;
            border-radius: 12px;
            cursor: pointer;
            margin-bottom: 5px;
            &:hover{
                border: white thin solid;
            }
        }

        .edit-btn-div h5 {
            margin: auto;
            color: black;
        }

        .edit-btn {
            padding: 15px;
            height: 25px;
            width: 25px;
            margin: auto;
            
            border-radius: 12px;
        }


        .space {
            margin: 50px 10px;
            font-size: 17px;
        }

        .msg-area {
            padding: 10px 10px;
            select: none;
            width: 850px;
            border-radius: 12px;
            height: 200px;
            color: black;
            font-size: 20px;
            display: none;
        }


        .send-btn {
            padding: 10px 30px;
            font-size: 18px;
            margin-top: 20px;
            border: none;
            border-radius: 3rem;
            background-color: blue;
            color: white;
            scale: 1;
            transition: 0.05s;
            display: none;
            &:hover {
                cursor: pointer;
                scale: 1.05;
            }
            &:active {
                scale: 1;
            }
        }

    }

    @media (max-width: 992px) {
        .home-set {
            position: relative;
            left: 0%;
            margin: 5px 0;
            width: 98%;
            height: 400px;
            border-radius: 12px;
            border: transparent;
        }

        .title-panel {
            margin: 20px 10px; 
            font-size: 30px;
            height: auto;
            
            border-radius: 12px;
            text-align: left;
        }

        .title-panel2 {
            margin: 100px 10px; 
            font-size: 20px;
            height: auto;
            width: 118%;
            padding: 50px;
            border-radius: 12px;
            text-align: left;
            background-color: grey;
            scale: 1;
            transition: 1s;
        }

        .title-panel2:hover {
            background-color: black;
            scale: 1.03;
        }

        .time, .outbox-msg, .status {
            margin: 20px 20px;
        }

        .like-btn-panel {
            border-radius: 50%;
            width: 105px;
            height: 105px;
        }

        .like-btn {
            margin: -35px 45px;
            width: 100px;
            height: 100px; 
        }

        
    }
</style>



{% endblock %}

